.ProductsBlock
{
  margin: 0 auto;
  border: double black 5px;
  width: 400px;
  padding: 5px;
  background-color: #F0F0F0;
}

.ProductsBlock .Name
{
  text-align: center;
}

.ProductsBlock .Products
{
  padding-top: 10px;
}

.ProductsBlock .Products .Product
{
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.ProductsBlock .Products .Product .Description, .Url
{
    width: 50%;
}

.ProductsBlock .Products .Product .Url .Image
{
  max-width: 150px;
  max-height: 150px;
}

.ProductsBlock .Products .Product .Count, .Price
{
  font-weight: bold;
  text-align: right;
}