.ProductsBlock
{
  margin: 0 auto;
  border: double gray 3px;
  width: 180px;
  padding: 3px 7px;
  background-color: #F0F0F0;
}

.ProductsBlock .Name
{
  font-weight: bold;
}

.ProductsBlock .Products
{
  padding-top: 5px;
}

.ProductsBlock .Products .Product
{
  padding: 2px 0;
}

.ProductsBlock .Products .Product .Count
{
  float: right;
  width: 30px;
  font-weight: bold;
  text-align: right;
}

.ProductsBlock .Products .Product .Name
{
  margin-right: 30px;
}